@import "mixins/mixins.less";
@import "mixins/function.less";
@import "common/var.less";

.get-root-button-padding-vertical() {
  .get-css-var(~"button-padding-vertical");
  @padding-vertical: @var-name;
}
.get-root-button-padding-horizontal() {
  .get-css-var(~"button-padding-horizontal");
  @padding-horizontal: @var-name;
}
.get-root-border-radius() {
  @alias: border-radius, base;
  .get-css-var(@alias);
  @border-radius: @var-name;
}

.b(button, {
    .base-border-background();
    .get-root-button-padding-vertical();
    .get-root-button-padding-horizontal();
    .get-root-border-radius();
    color: @primary-text;
    padding: @padding-vertical @padding-horizontal;
    border-radius: @border-radius;
    transition: 0.1s;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: @hover-bg-color;
    }

    &:active {
      background-color: @active-bg-color;
    }
  }

);