@import "mixins/mixins.less";
@import "mixins/function.less";
@import "common/var.less";

.b("slider", {
    display: flex;
    transition: @transition-timer;

    .slider-content {
      flex: 1;
      position: relative;
      margin: 7px 11px 7px 11px;
    }

    .runnable-track {
      height: 8px;
      background-color: @outside-color;
      border-radius: 12px;

    }

    .thumb {
      .base-shadow();
      width: 12px;
      height: 12px;
      position: absolute;
      z-index: 1;
      top: -100%;
      transform: translateX(-50%);
      background-color: @colors[primary];
      border-radius: 50%;
      border: 5px solid @color-white;
      cursor: pointer;
      box-sizing: content-box;

      &:hover {
        @args: color, primary, light, 3;
        .join-var-name(@args);
        background-color: var(@name);
      }

      &:active {
        @args: color, primary, light, 1;
        .join-var-name(@args);
        background-color: var(@name);
      }
    }

    .fill {
      height: 8px;
      border-radius: 12px;
      background-color: @colors[primary];
      position: absolute;
    }

    &.@{state-prefix}vertical {
      height: 100%;

      .slider-content {
        flex: 0;
        position: relative;
        margin: 11px 7px 11px 7px;
      }

      .runnable-track {
        width: 8px;
        height: 100%;
        background-color: @outside-color;
        border-radius: 12px;
      }

      .thumb {
        top: auto;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%, 50%);
      }

      .fill {
        width: 8px;
        height: 0%;
        bottom: 0px;
      }
    }
  }

);